@font-face {
  font-family: Montserrat Subrayada;
  src: url('Font/MontserratSubrayada-Regular.ttf')
}
.bg-myNav{
  background-color: white;
}
.navbar{
  color: #687CC6;
}
.into{
  color: #687CC6
}
.nav-link {
  margin-right: 15px;
  margin-left: 15px;
  font-family: Montserrat Subrayada;
}

.navbar-light .navbar-nav .nav-link {
  color: #687CC6;
}

.financeTxt{
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.setting{
  font-family:monospace
}
html,
body {
  padding: 50px;
  margin: 0;
  height: 200vh;
  /* background: #000; */
}
/* Make the background the picture in src/assets/Group-5.png of body */
/* body {
  background-image: url("assets/Group-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
/* .white {
  color: white;
} */
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}


/* center the div named game*/
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* for a classname named test, make a 3d animated rainbow background, size of 500px and that's centered */
.test {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  animation: rainbow 5s infinite linear;
  transform-style: preserve-3d;
  perspective: 1000px;
}
/* for a css class called code-explain, onHover, hightline the text in yellow */
.code-explain:hover {
  background-color: yellow;
}


/* center a div called center */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Making a css selector for a div called settings-fixed which will be an expandle settings section which will be locked to the bottom-right of the screen, make the element collapsible on click */
/* It collapses expands/ collapses with animations */
/* .settings-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.5s ease;
  display: inline-block;
}
/* inline the elements in this selector and space them by 20px*/
.translate-buttons > * {
  display: inline-block;
  margin: 15px;
} */

/* a css selector  called settings that is called settings which is fixed to the bottom of the page*/
.settings {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.5s ease;
  display: inline-block;
}
